.atmosphere {
  // top: calc(-145px * 4);
  top: calc(var(--pad) * 4);

  &__wrapper {
    background-image: url(../../images/red-bg.png);

    @include media-breakpoint-down(md) {
      background-image: url(../../images/red-bg-mob.png);
      padding-bottom: 220px;
    }

    color: #fff;
  }

  &__descr {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      align-items: center;
    }

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__text {
    max-width: 670px;
    margin-right: 24px;
  }

  &__inst {
    p {
      text-align: center;
    }

    &.desktop {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
        margin-top: 30px;
      }
    }

    .scop-frame {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 83px;
      background-image: url(../../images/svg/scope-border-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-top: 13px;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        justify-content: center;
      }

      @media screen and (max-width: 425px) {
        padding: 30px 50px;
      }

      .scop-text {
        margin-left: 22px;
        border-bottom: 1px solid transparent;
      }

      &:hover {
        .scop-text {
          border-color: #fff;
          transition: linear 250ms;
        }
      }
    }

  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .swiper-slide {
      margin-right: 20px;
      width: 420px;
      height: 450px;

      @include media-breakpoint-down(md) {
        width: 280px;
        height: 350px;
      }
    }

    .image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;

      &:last-child {
        margin-right: unset;
      }
    }

    img {
      width: 100%;
    }
  }
}