footer.footer 
  .footer__wrapper 
    .container.d-flex.flex-column.justify-content-between
      .footer__inner 
        p.phone ЗАМОВЛЯЙТЕ ДОСТАВКУ СМАЧНИХ РЕБЕР  –
        a(href="tel:+380992677273").phone (099) 267-72-73
        .footer__descr
          .left 
            .footer__logo 
              include ../../../images/svg/fire-large.svg
          .right
            p.address Вул. Головна, 119 Б #[br]заїзд з пр. Казарменого
            a.scop-frame.desktop(href="https://www.google.com/maps/place/%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%BD%D0%B0+%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F,+119%D0%B1,+%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D1%86%D1%96,+%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D0%B5%D1%86%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+58001/@48.2834692,25.9380253,17z/data=!3m1!4b1!4m5!3m4!1s0x473408be5db4381d:0x7c236bac4b59bf76!8m2!3d48.2834692!4d25.940214" target="_blank")
              p.scop-text Прокласти маршрут
        a.scop-frame.mobile(href="https://www.google.com/maps/place/%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%BD%D0%B0+%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F,+119%D0%B1,+%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D1%86%D1%96,+%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D0%B5%D1%86%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+58001/@48.2834692,25.9380253,17z/data=!3m1!4b1!4m5!3m4!1s0x473408be5db4381d:0x7c236bac4b59bf76!8m2!3d48.2834692!4d25.940214" target="_blank")
          p.scop-text Прокласти маршрут
        .footer__social 
          h2.footer__title слідкуйте за нами в соціальних мережах
          .social-links 
            a(href="https://www.instagram.com/rebra.ta.vogon", target="_blank") 
              include ../../../images/svg/inst.svg
            a(href="https://www.facebook.com/rebra.ta.vogon", target="_blank") 
              include ../../../images/svg/fb.svg
      .footer__copyright
        p 2023 © "Rebra ta vogon"
        p.abs Розробник сайту WebCo 
script(src="js/main.min.js")