head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="title" content="«Ребра та Вогонь» - реберня в Чернівцях")
    meta(name="description" content="Соковиті ребра та смачні страви до них, п’янкі напої та затишна атмосфера.")
    meta(name="keywords" content="реберня чернівці, смачні ребра чернівці, ребра і вогонь, ребра та вогонь, реберня, ресторан чернівці")
    title= title
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="icon" href="images/fav.png" type="image/x-icon")
    script(src="https://unpkg.com/axios/dist/axios.min.js")